*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}

h1{
    background-color: rgb(193, 246, 246);
    text-align: center;
    
    height:50px;
}

.one{
    margin: 25px;
    padding-left: 550px;
    
}

#userinput{
    height: 30px;
    width: 250px;
    border-radius: 10px;
   margin-left: 50px;
   background-color: rgb(170, 220, 220);
    font-weight: 100;
    font-size: 20px;
}
#btn{
    width: 50px;
    height: 30px;
    margin-left: 30px;
    background-color: rgb(142, 178, 178);
    border-radius: 5px;
    font-size: 15px;
}

ul{
    border: 2px solid #015353;
    border-radius: 8px;
    height: 500px;
    padding: 40px 80px;
    margin-left: 500px;
    margin-right: 500px;
   font-weight: bolder;
   font-size: 25px;
}

